body{
    display: flex;
}
.button1{
    /* border: 5px solid blueviolet; */
}
button{
    /* clear: both; */
    margin-top: 100px;
    margin-left: 500px;
    width: 100px;
    font-size: large;
    height: 50px;
    border:1px solid black;
}
.squares1, .squares2 , .squares3{
    border: 1px solid white;
    background-color: rgb(212, 48, 76);
    width: 80px;
    height: 80px;
    margin-top: 75px;
}
.square{
    margin-left: 150px;
    /* border: 1px solid blue; */
    /* clear: both; */
}